<footer>
  <nav class='round'>
    <ul>
      <li>
        <%= link_to "About", 'about_path' %>
      </li>

 <li>
        <%= link_to "Contact", 'contact_path' %>
      </li>
 <li>
        <%= link_to "Contact2", '#' %>
      </li>
 <li>
        <%= link_to "Contact3", '#' %>
      </li>

    </ul>
  </nav>

</footer>
